@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[85rem] p-[1.5rem] w-full mx-auto;
}
body {
  @apply font-poppins;
}
@layer components {
  .header {
    @apply border-solid border-b-[1px] border-b-gray-300 fixed w-full bg-light
    lg:border-none lg:mt-10 lg:bg-transparent;
  }
  /* .header.open .header__nav {
    @apply block;
  } */
  .header .container {
    @apply py-[.5rem];
  }
  .header .header__wrapper {
    @apply flex items-center justify-between;
  }
  .header .branding {
    @apply flex items-center gap-5;
  }
  .header .branding img {
    @apply w-40
    lg:w-28;
  }
  .header .header__nav {
    @apply absolute bg-light top-[4.2rem] left-[-100rem] h-[100vh] transition-all  w-[50%] overflow-y-scroll shadow-lg
    lg:static lg:h-fit lg:w-fit lg:shadow-none lg:flex lg:items-center lg:gap-10;
  }
  .header nav {
    @apply lg:flex lg:lg:gap-10;
  }
  /* .header .header__nav {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  } */
  .header .header__nav::-webkit-scrollbar {
    width: 1px;
  }
  .header .header__nav.open {
    @apply left-0 transition-all;
  }
  .header .toggle__menu {
    @apply flex flex-col gap-2
    lg:hidden;
  }
  .header .toggle__menu span {
    @apply w-8 h-[.1rem] bg-dark block rounded-full transition-all;
  }
  .header .toggle__menu.open span:first-child {
    @apply transform rotate-[225deg] translate-y-3 transition-all;
  }
  .header .toggle__menu.open span:nth-child(2) {
    @apply opacity-0 transition-all;
  }
  .header .toggle__menu.open span:last-child {
    @apply transform rotate-[-225deg] translate-y-[-.50rem] transition-all;
  }
  .header .header__nav__item {
    @apply my-2 
    /* lg:relative; */;
  }
  .header .header__nav__item:hover ul {
    @apply lg:max-h-[100rem] lg:transition-all;
  }
  .header .header__nav__item h4 {
    @apply flex justify-between items-center
    lg:gap-2;
  }
  .header .header__nav__item h4 i {
    @apply transition-all;
  }
  .header .header__nav__item h4 i.open {
    @apply transform rotate-[180deg] transition-all;
  }

  .header .header__nav__item ul {
    @apply max-h-[0rem] overflow-hidden transition-all
    lg:absolute lg:top-[2.8rem] lg:w-[12rem] lg:transform lg:translate-y-5 lg:shadow-md lg:px-2;
  }

  .header .header__nav__item ul h4 {
    @apply border-b-[1px] border-b-gray-500 text-[1.3rem] m-3 p-1
    lg:m-0 lg:p-0;
  }
  .header .header__nav__item ul li {
    @apply my-1 py-3 px-8 text-[.8rem]
    lg:text-[1rem] lg:px-0 lg:pl-[2rem];
  }
  .header .header__nav__item ul li:not(:last-child) {
    @apply lg:border-b lg:border-gray-300;
  }
  .header .header__nav__item ul li:hover {
    @apply bg-dilaw;
  }
  .header .header__nav__item ul.open {
    @apply max-h-[100rem] transition-all;
  }
  .header .header__nav__item h4.nav {
    @apply px-5 py-3
    lg:px-0 lg:py-0;
  }
  .header .header__nav__item h4.nav:hover {
    @apply cursor-pointer;
  }
  .header .header__nav__item h4.nav:hover {
    @apply bg-dilaw text-light
    lg:bg-transparent lg:text-dark;
  }
  .header .header__nav__item:last-child ul {
    @apply lg:w-fit lg:right-[20rem] lg:grid lg:grid-cols-2;
  }
  .header .header__nav__item:last-child h4 {
    @apply lg:border-none;
  }
  .header .header__nav__item:last-child .pages {
    @apply lg:p-5;
  }
  .header .header__nav__item:last-child .pages__content {
    @apply lg:grid lg:grid-cols-2  lg:gap-5;
  }
  .header .header__nav__item:last-child .pages__content li {
    @apply lg:border-b lg:border-gray-300 lg:px-0;
  }

  .banner {
    @apply h-[900px] bg-cover pt-[7rem] relative lg:flex lg:items-center lg:justify-center lg:h-[800px];
  }
  .banner::before {
    @apply content-[''] h-[900px] w-[100vw] bg-asul absolute top-0 left-0 z-[-1] lg:h-[800px] lg:w-[50vw];
  }
  .banner__item {
    @apply max-w-[80rem] mx-auto lg:grid lg:grid-cols-2;
  }
  .banner__item img {
    @apply max-w-[20rem] mx-auto lg:order-2 lg:max-w-[unset];
  }
  .banner__item__reviews {
    @apply flex text-light font-semibold justify-center py-10 items-center lg:justify-start lg:py-5;
  }
  .banner__item__reviews p {
    @apply px-5 text-[.9rem];
  }
  .banner__item__reviews p:nth-child(2) {
    @apply border-x-[1px] border-x-light;
  }
  .banner__item__reviews p:first-child {
    @apply lg:px-0 lg:pr-5;
  }
  .banner__item__desc {
    @apply text-center lg:text-left lg:max-w-[60rem];
  }
  .banner__item__desc p {
    @apply pb-[2rem] pt-[1rem] text-light text-center mx-2 lg:text-left lg:mx-0 lg:mr-[5rem];
  }
  .banner__item__desc h1 {
    @apply text-light text-[2.2rem] font-bold text-center lg:text-left lg:text-[5rem] lg:max-w-[35rem];
  }
  .banner__item__desc .watch {
    @apply lg:text-center;
  }
  .banner__item__desc .watch a {
    @apply inline-block text-light text-[1.1rem] relative z-[99] lg:mt-5;
  }
  /* .banner__item__desc a::before {
    @apply content-[''] w-[3rem] h-[3rem] block bg-dilaw rounded-full absolute z-0;
  } */
  .banner__item__desc .watch a span {
    @apply w-[4rem] h-[4rem] block bg-dilaw rounded-full absolute -z-[5] top-[-18px] left-[-25px] transition-all;
  }
  .banner__item__desc .watch a:hover span {
    @apply w-[10rem] transition-all;
  }
}
