@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[75rem] p-[1.5rem] w-full mx-auto;
}

@layer components {
  .header {
    @apply border-solid border-b-[1px] border-b-gray-300 fixed w-full
    lg:border-none lg:mt-10;
  }
  /* .header.open .header__nav {
    @apply block;
  } */
  .header .container {
    @apply py-[.5rem];
  }
  .header .header__wrapper {
    @apply flex items-center justify-between;
  }
  .header .branding {
    @apply flex items-center gap-5;
  }
  .header .branding img {
    @apply w-40
    lg:w-28;
  }
  .header .header__nav {
    @apply absolute bg-light top-[4.2rem] left-[-100rem] h-[100vh] transition-all  w-[50%] overflow-y-scroll shadow-lg
    lg:static lg:h-fit lg:w-fit lg:shadow-none lg:flex lg:items-center lg:gap-10;
  }
  .header nav {
    @apply lg:flex lg:lg:gap-10;
  }
  /* .header .header__nav {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  } */
  .header .header__nav::-webkit-scrollbar {
    width: 1px;
  }
  .header .header__nav.open {
    @apply left-0 transition-all;
  }
  .header .toggle__menu {
    @apply flex flex-col gap-2
    lg:hidden;
  }
  .header .toggle__menu span {
    @apply w-8 h-[.1rem] bg-dark block rounded-full transition-all;
  }
  .header .toggle__menu.open span:first-child {
    @apply transform rotate-[225deg] translate-y-3 transition-all;
  }
  .header .toggle__menu.open span:nth-child(2) {
    @apply opacity-0 transition-all;
  }
  .header .toggle__menu.open span:last-child {
    @apply transform rotate-[-225deg] translate-y-[-.50rem] transition-all;
  }
  .header .header__nav__item {
    @apply my-2
    /* lg:relative; */;
  }
  .header .header__nav__item:hover ul {
    @apply lg:max-h-[100rem] lg:transition-all;
  }
  .header .header__nav__item h4 {
    @apply flex justify-between items-center
    lg:gap-2;
  }
  .header .header__nav__item h4 i {
    @apply transition-all;
  }
  .header .header__nav__item h4 i.open {
    @apply transform rotate-[180deg] transition-all;
  }

  .header .header__nav__item ul {
    @apply max-h-[0rem] overflow-hidden transition-all
    lg:absolute lg:top-[2.8rem] lg:w-[12rem] lg:transform lg:translate-y-5 lg:shadow-md lg:px-2;
  }

  .header .header__nav__item ul h4 {
    @apply border-b-[1px] border-b-gray-500 text-[1.3rem] m-3 p-1
    lg:m-0 lg:p-0;
  }
  .header .header__nav__item ul li {
    @apply my-1 py-3 px-8 text-[.8rem]
    lg:text-[1rem] lg:px-0 lg:pl-[2rem];
  }
  .header .header__nav__item ul li:not(:last-child) {
    @apply lg:border-b lg:border-gray-300;
  }
  .header .header__nav__item ul li:hover {
    @apply bg-dilaw;
  }
  .header .header__nav__item ul.open {
    @apply max-h-[100rem] transition-all;
  }
  .header .header__nav__item h4.nav {
    @apply px-5 py-3
    lg:px-0 lg:py-0;
  }
  .header .header__nav__item h4.nav:hover {
    @apply cursor-pointer;
  }
  .header .header__nav__item h4.nav:hover {
    @apply bg-dilaw text-light
    lg:bg-transparent lg:text-dark;
  }
  .header .header__nav__item:last-child ul {
    @apply lg:w-fit lg:right-[20rem] lg:grid lg:grid-cols-2;
  }
  .header .header__nav__item:last-child h4 {
    @apply lg:border-none;
  }
  .header .header__nav__item:last-child .pages {
    @apply lg:p-5;
  }
  .header .header__nav__item:last-child .pages__content {
    @apply lg:grid lg:grid-cols-2  lg:gap-5;
  }
  .header .header__nav__item:last-child .pages__content li {
    @apply lg:border-b lg:border-gray-300 lg:px-0;
  }
}
