@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[130rem] p-[1.5rem] w-full mx-auto;
}

@layer components {
  .header {
    @apply border-solid border-b-[1px] border-b-gray-300 fixed w-full;
  }
  /* .header.open .header__nav {
    @apply block;
  } */
  .header .container {
    @apply py-[.5rem];
  }
  .header .header__wrapper {
    @apply flex items-center justify-between;
  }
  .header .branding {
    @apply flex items-center gap-5;
  }
  .header .branding img {
    @apply w-40;
  }
  .header .header__nav {
    @apply absolute bg-pink-400 top-[4.1rem] left-[-100rem] h-[100vh] transition-all  w-[50%] overflow-y-scroll;
  }
  .header .header__nav::-webkit-scrollbar {
    width: 1px;
  }
  /* .header .header__nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  .header .header__nav::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  .header .header__nav::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  } */
  .header .header__nav.open {
    @apply left-0 transition-all;
  }
  .header .toggle__menu {
    @apply flex flex-col gap-2;
  }
  .header .toggle__menu span {
    @apply w-8 h-[.1rem] bg-dark block rounded-full transition-all;
  }
  .header .toggle__menu.open span:first-child {
    @apply transform rotate-[225deg] translate-y-3 transition-all;
  }
  .header .toggle__menu.open span:nth-child(2) {
    @apply opacity-0 transition-all;
  }
  .header .toggle__menu.open span:last-child {
    @apply transform rotate-[-225deg] translate-y-[-.50rem] transition-all;
  }
  .header .header__nav__item {
    @apply my-2;
  }
  .header .header__nav__item h4 {
    @apply flex justify-between items-center;
  }
  .header .header__nav__item h4 i {
    @apply transition-all;
  }
  .header .header__nav__item h4 i.open {
    @apply transform rotate-[180deg] transition-all;
  }
  .header .header__nav__item ul {
    @apply max-h-[0rem] overflow-hidden transition-all;
  }
  .header .header__nav__item ul h4 {
    @apply border-b-[1px] border-b-gray-500 text-[1.3rem] m-3;
  }
  .header .header__nav__item ul li {
    @apply my-1 py-3 px-8 hover:bg-yellow-500;
  }
  .header .header__nav__item ul.open {
    @apply max-h-[100rem] transition-all;
  }
  .header .header__nav__item h4.nav {
    @apply px-5 py-3 hover:cursor-pointer;
  }
  .header .header__nav__item h4.nav:hover {
    @apply bg-yellow-500;
  }
}
