@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[130rem] p-[1.5rem] w-full mx-auto;
}

@layer components {
  .header {
    @apply border-solid border-b-[1px] border-b-gray-300 relative;
  }
  /* .header.open .header__nav {
    @apply block;
  } */
  .header .container {
    @apply py-[.5rem];
  }
  .header .header__wrapper {
    @apply flex items-center justify-between;
  }
  .header .branding {
    @apply flex items-center gap-5;
  }
  .header .branding img {
    @apply w-40;
  }
  .header .header__nav {
    @apply absolute bg-pink-400 top-[4.1rem] left-0 h-[100vh];
  }
  .header .header__nav ul {
    @apply max-h-0 overflow-hidden;
  }
  .header .header__nav a h4 {
    @apply flex items-center justify-between;
  }

  .header .toggle__menu {
    @apply flex flex-col gap-2;
  }
  .header .toggle__menu span {
    @apply w-8 h-[.1rem] bg-dark block rounded-full transition-all;
  }
  .header .toggle__menu.open span:first-child {
    @apply transform translate-y-2 rotate-[225deg] transition-all;
  }
  .header .toggle__menu.open span:nth-child(2) {
    @apply opacity-0 transition-all;
  }
  .header .toggle__menu.open span:last-child {
    @apply transform translate-y-[-12px] rotate-[-225deg] transition-all;
  }
}
